# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=e0f24db6c26717a0fa148b2a7ccbc32bc265f9eb2e8c5d6cbb3757ef988f81762f072c2737e7e601b82aff409995a590cbdc98a2799d6f01302976b7eb367c91
REDIS_URL=redis://localhost:6379/14
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
